/*===================================================================================*/
/*  Navy Color
/*===================================================================================*/
/* =Custom Font
-------------------------------------------------------------- */
@font-face {
  font-family: 'star';
  src: url('fonts/star.eot');
  src: url('fonts/star.eot?#iefix') format('embedded-opentype'), url('fonts/star.woff') format('woff'), url('fonts/star.ttf') format('truetype'), url('fonts/star.svg#star') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WooCommerce';
  src: url('fonts/WooCommerce.eot');
  src: url('fonts/WooCommerce.eot?#iefix') format('embedded-opentype'), url('fonts/WooCommerce.woff') format('woff'), url('fonts/WooCommerce.ttf') format('truetype'), url('fonts/WooCommerce.svg#WooCommerce') format('svg');
  font-weight: normal;
  font-style: normal;
}
.primary-bg {
  background-color: #34495e;
  color: #FFF;
}
.primary-color {
  color: #34495e;
}
.le-dropdown {
  background-color: #34495e;
}
.le-dropdown.open {
  background-color: #2b3c4e;
}
.le-button,
input[type="submit"] {
  background-color: #34495e;
}
.le-button:hover,
input[type="submit"]:hover {
  background-color: #395168;
}
.comment-form .form-submit input[type="submit"] {
  background-color: #34495e;
}
.comment-form .form-submit input[type="submit"]:hover {
  background-color: #395168;
}
a,
a:hover,
a:focus,
a:active {
  color: #34495e;
}
::-moz-selection {
  background-color: #34495e;
}
::selection {
  background-color: #34495e;
}
.yith-wcwl-share li a:hover,
.social-icons li a:hover {
  background-color: #34495e;
}
.le-color {
  color: #34495e;
}
.navbar .navbar-toggle {
  background-color: #2b3c4e;
  border-color: #222f3d;
  border-radius: 0;
}
header .top-search-holder .contact-row i {
  color: #34495e;
}
header .top-search-holder .search-area .search-button {
  background-color: #34495e;
}
header .top-cart-row .wishlist-compare-holder a:hover {
  color: #34495e;
}
header .top-cart-row .wishlist-compare-holder a:hover i {
  color: #34495e;
}
header .top-cart-row .top-cart-holder .basket-item .price {
  color: #34495e;
}
header .top-cart-row .top-cart-holder .basket-item-count .count {
  background-color: #34495e;
}
.sidemenu-holder .side-menu .head {
  background-color: #34495e;
}
.sidemenu-holder .side-menu .menu-item:hover,
.sidemenu-holder .side-menu .menu-item.open {
  border-color: #34495e;
}
.megamenu-horizontal .nav > li > a:hover,
.megamenu-horizontal .nav > li > a:focus {
  background-color: #34495e !important;
}
.megamenu-horizontal .dropdown:hover .dropdown-toggle:focus,
.megamenu-horizontal .dropdown.open .dropdown-toggle:focus,
.megamenu-horizontal .dropdown:focus .dropdown-toggle:focus,
.megamenu-horizontal .dropdown:hover .dropdown-toggle,
.megamenu-horizontal .dropdown.open .dropdown-toggle,
.megamenu-horizontal .dropdown:focus .dropdown-toggle {
  background-color: #34495e !important;
}
#top-mega-nav nav .le-dropdown:first-child .dropdown-menu > li > a:hover,
#top-mega-nav nav .le-dropdown:first-child .dropdown-menu > li > a:focus {
  background-color: #34495e !important;
}
.breadcrumb-nav-holder .breadcrumb-item.current a {
  color: #34495e;
}
.carousel-holder .title-nav .inverse {
  color: #34495e;
}
.carousel-holder .title-nav .nav-holder a:hover {
  color: #34495e !important;
}
.le-radio:checked + .fake-box:after {
  background-color: #34495e;
}
.le-checkbox:checked + .fake-box {
  background-color: #34495e;
  border-color: #34495e;
}
.le-links li a:hover {
  color: #34495e;
}
.blog-sidebar .widget > ul > li > a:hover {
  color: #34495e;
}
.accordion-widget .accordion .accordion-toggle {
  color: #34495e;
}
.accordion-widget .accordion .accordion-toggle:after {
  color: #34495e;
}
.dropdown .dropdown-menu {
  border-top-color: #34495e;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:active {
  background-color: transparent;
  color: #34495e;
}
.slider-selection {
  background-color: #34495e;
}
.slider-handle {
  border-color: #34495e;
}
#footer .widget .body li a:hover {
  color: #34495e;
}
#footer .link-list-row .link-widget li a:hover {
  color: #34495e;
}
.iconic-link:hover {
  color: #34495e;
}
.iconic-link:hover:before {
  color: #34495e;
}
.page-numbers li:hover a,
.page-numbers li.current a {
  color: #34495e !important;
  border-color: #34495e;
}
.page-numbers li a.current,
.page-numbers li span.current {
  color: #34495e !important;
  border-color: #34495e;
}
.simple-link:hover {
  color: #34495e;
}
#top-megamenu-nav {
  background-color: #34495e;
}
#top-megamenu-nav .nav > li {
  border-right-color: #2b3c4e;
}
#top-megamenu-nav .nav > li > a:hover,
#top-megamenu-nav .nav > li > a:focus {
  background-color: #304457;
}
#top-megamenu-nav .nav > li.active > a,
#top-megamenu-nav .nav > li.active > a:focus {
  background-color: #304457;
}
#top-megamenu-nav .nav > li > .dropdown-toggle:focus {
  background-color: #304457 !important;
}
#top-megamenu-nav .nav > li > .dropdown-toggle:before {
  border-bottom-color: #34495e;
}
#top-megamenu-nav .nav > li.open > .dropdown-toggle {
  background-color: #304457;
}
#top-megamenu-nav .dropdown {
  border-right-color: #2b3c4e;
}
#top-megamenu-nav .dropdown:hover > .dropdown-toggle,
#top-megamenu-nav .dropdown:focus > .dropdown-toggle,
#top-megamenu-nav .dropdown.active > .dropdown-toggle,
#top-megamenu-nav .dropdown:hover > .dropdown-toggle:focus,
#top-megamenu-nav .dropdown:focus > .dropdown-toggle:focus,
#top-megamenu-nav .dropdown.active > .dropdown-toggle:focus {
  background-color: #304457;
}
#top-megamenu-nav .dropdown .dropdown-toggle:focus {
  background-color: #304457 !important;
}
#top-megamenu-nav .dropdown .dropdown-toggle:before {
  border-bottom-color: #34495e;
}
#top-megamenu-nav .dropdown.open > .dropdown-toggle {
  background-color: #304457;
}
.rtl #top-megamenu-nav .nav > li {
  border-left-color: #2b3c4e;
}
.rtl #top-megamenu-nav .dropdown {
  border-left-color: #2b3c4e;
}
#cart-page .widget .buttons-holder .simple-link:hover {
  color: #34495e;
}
#cart-page .items-holder .close-btn:hover:after {
  color: #34495e;
}
#cart-page .items-holder .remove:hover {
  color: #34495e;
}
#cart-page .items-holder .cart-item .title a:hover {
  color: #34495e;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus {
  background-color: #34495e !important;
}
.nav-tabs li.active a:hover {
  background-color: #3b536b;
}
.btn-loadmore:hover i {
  background-color: #34495e;
}
.le-quantity .minus:hover:after,
.le-quantity .plus:hover:after {
  color: #34495e;
}
.meta-row span a {
  color: #34495e;
}
.comment-item .comment-body .author {
  color: #34495e;
}
.product-item-holder .body .title a:hover {
  color: #34495e;
}
.single-product-gallery .gallery-thumbs .next-btn:hover,
.single-product-gallery .gallery-thumbs .prev-btn:hover {
  background-color: #34495e;
}
.single-product-gallery .gallery-thumbs li a.active {
  border-bottom-color: #34495e;
}
.grid-list-products .grid-list-buttons ul li.active a i {
  color: #34495e;
}
.grid-list-products .grid-list-buttons ul li a:hover i {
  color: #222f3d;
}
@media (max-width: 767px) {
  #top-megamenu-nav .nav {
    border-color: #222f3d !important;
  }
  #top-megamenu-nav .nav > .dropdown {
    border-color: #222f3d !important;
  }
}
.sidebar .price-range-holder .filter-button a {
  color: #34495e;
}
.sidebar .widget .product-list li a:hover {
  color: #34495e;
}
.sidebar .widget .product-list .price .price-current {
  color: #34495e;
}
.top-bar ul > li a:hover {
  color: #34495e;
}
.logo-svg {
  fill: #34495e;
}
.owl-carousel:hover .owl-prev:hover,
.owl-carousel:hover .owl-next:hover {
  color: #34495e;
}
.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
  background: #34495e;
}
.panel-faq .panel-heading .panel-title > a:after {
  color: #34495e;
}
.panel-faq .panel-heading .panel-title > a:hover:after {
  color: #34495e;
}
.posts .post .meta > li a:hover {
  color: #34495e;
}
.blog-sidebar .le-links > li > a:hover {
  color: #34495e !important;
}
.tagcloud a:hover {
  color: #34495e !important;
}
.owl-carousel-blog .owl-dots .owl-dot:hover span,
.owl-carousel-blog .owl-dots .owl-dot.active span {
  background: none repeat scroll 0 0 #34495e;
}
.comment-item .comment-body .likes a:hover,
.comment-item .comment-body .likes .icon:hover {
  color: #34495e;
}
.comment-item .comment-body .likes .dislikes .icon:hover {
  color: #34495e;
}
.comment-item .comment-body .comment-reply:hover {
  color: #34495e;
}
.blog-sidebar .widget .recent-post-list h5 a:hover {
  color: #34495e;
}
.sidebar .product_list_widget .media-heading > a:hover {
  color: #34495e;
}
.sidebar .product-filters .widgets .widget-title,
.sidebar .product-filters .widgets .widget-title + ul > li a:hover,
.sidebar .product-filters .widgets .widget-title + ul > li a:hover::before,
.sidebar .product-filters .widgets .widget-title + ul > li.chosen a:before,
.btn-add-to-compare:hover > i,
.btn-add-to-wishlist:hover > i,
.logo-text,
.product-categories li a:hover,
.yamm-content h2,
.yamm-content h3,
.yamm-content h4,
body .tp-leftarrow.default:hover,
body .tp-rightarrow.default:hover,
.post .post-title > a:hover,
.posts .meta > li > a:hover,
.page-links > a:hover,
.page-links > span,
.post-entry .post-title > a:hover,
.single-product-wish-compare .button-holder a:hover,
.btn-action-link a:hover,
.product-subcategories-list .product-category a:hover h3,
.entry-content .shipping-calculator-title .shipping-calculator-button:hover,
.mc-breadcrumb > li > span > a:hover,
.mc-breadcrumb > li:last-child > span,
.panel-group-faq.style-2 .panel-faq .panel-heading .panel-title > a,
.blog-sidebar .widget .menu li > a:hover,
.blog-sidebar .widget > ul li > a:hover,
.sidebar .widget_layered_nav ul li > a:hover {
  color: #34495e;
}
.page-links > a:hover,
.page-links > span {
  color: #34495e !important;
  border-color: #34495e !important;
}
body .tp-bullets.simplebullets.round .bullet:hover,
body .tp-bullets.simplebullets.round .bullet.selected,
body .tp-bullets.simplebullets.navbar .bullet:hover,
body .tp-bullets.simplebullets.navbar .bullet.selected,
.jp-play-bar,
.jp-volume-bar-value,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:hover,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:focus,
.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:active,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:hover,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:focus,
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tabs_nav > li.ui-tabs-active > a:active,
#scrollUp {
  background: #34495e;
}
.header-1-primary-navbar .navbar-nav,
.posts .post .date-wrapper .date {
  background-color: #34495e;
}
.widget_price_filter .ui-slider .ui-slider-range {
  background-color: #34495e !important;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  border-color: #34495e !important;
}
.commentlist .bypostauthor .comment-body {
  border-top-color: #34495e;
}
p.demo_store {
  background: #34495e;
  border: 1px solid #222f3d;
}
